# 1. Retrieve all information about movies directed by Christopher Nolan.

In [ ]:
SELECT *
FROM Movies
WHERE Director = 'Christopher Nolan';

# 2. Find all distinct genres in the Movies table

In [ ]:
SELECT DISTINCT Genre
FROM Movies;

# 3. Display the top 5 highest-rated movies, sorted by their rating in descending order.

In [ ]:
SELECT TOP 5 Title, Rating
FROM Movies
ORDER BY Rating DESC;

# 4. List all movies released before the year 2000.

In [ ]:
SELECT Title, ReleaseYear
FROM Movies
WHERE ReleaseYear < 2000;

# 5. Show the total number of movies in each genre.

In [ ]:
SELECT Genre, COUNT(*) AS TotalMovies
FROM Movies
GROUP BY Genre;

# 6. Find the total revenue of all movies in the Sci-Fi genre

In [ ]:
SELECT SUM(BoxOfficeRevenue) AS TotalRevenue
FROM Movies
WHERE Genre = 'Sci-Fi';

# 7. Retrieve the titles of movies with a rating greater than 8.5 but less than 9.0.

In [ ]:
SELECT Title, Rating
FROM Movies
WHERE Rating > 8.5 AND Rating < 9.0;

# 8. Display the names of all movies that have the word 'The' in their title

In [ ]:
SELECT Title
FROM Movies
WHERE Title LIKE '%The%';

# 9. Find the movie with the highest box office revenue.

In [ ]:
SELECT TOP 1 Title, BoxOfficeRevenue
FROM Movies
ORDER BY BoxOfficeRevenue DESC;

# 10. Retrieve the average rating of all movies released after the year 2000.

In [ ]:
SELECT AVG(Rating) AS AvgRatingAfter2000
FROM Movies
WHERE ReleaseYear > 2000;